---
layout: page
title: "Tags"
permalink: /tags/
---

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
  {% capture t %}{{ tag | first }}{% endcapture %}
  <!-- Floating div to anchor above header -->
  <div id="{{t}}" style="position: relative; top: -80px"></div>
  <h2>{{ t | capitalize }}</h2>
  {% for desc in site.descriptions %}
    {% if desc.tag == t %}
      <p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
  {% endfor %}
  <ul class="posts-list">
  {% assign sorted_posts = site.tags[t] | sort: "date" %}
  {% for post in sorted_posts %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date_to_long_string }}</span>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>
